.btn-primary-radio {
  background-color: #F0F34F;
  border: 3px #F0F34F solid;
  color: black;
  font-size: 1.25em;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  border-radius: 30px;
  padding: 0.75em 2em;
}

.btn-primary-radio:hover {
  background-color: white;
  border: 3px black solid;
  color: black;
}

h2 {
  width: 50vw;
}

.quiz-text {
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 1.1em;
  margin-top: 1.5em;
  border: 3px black solid;
}